<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/diy.css" >
</head>
<body class="diy_background">

<header class="p-3 bg-white text-dark position-sticky " style="top:0;z-index: 9999">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
                <li><a href="#" th:href="@{/addSubject}" th:if="${user}!=null" class="nav-link px-2 text-dark">Add Subject</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="post" action="test.html" th:action="@{/search}">
                <input type="search" class="form-control form-control-dark" name="searchContent" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" th:href="@{/sign}" class="nav-link px-2 text-dark" th:if="${user}==null">Sign up</a></li>
                    <li><a href="#"  th:href="@{/login}" class="nav-link px-2 text-dark" th:if="${user}==null">Login</a></li>
                    <li><a href="#"  class="nav-link px-2 text-dark" th:if="${user}!=null" th:text="${user.username}">Login</a></li>
                    <li><a href="#" th:href="@{/logout}" class="nav-link px-2 text-dark" th:if="${user}!=null">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-black " style="opacity: 0.6;">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Share and Learn</h1>
            <p class="lead my-3">This website provides open access e-learning resources so that every one who wants to learn can get learning
            material from this website.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold" style="text-decoration: none">Start your learning journey</a></p>
        </div>

    </div>

    <div class="row mb-2 diy_visible ">
        <div class="col-md-4" th:each="subject:${subjects}">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
                <div class="col p-4 d-flex flex-column position-static"><br>
                    <h2 class="mb-0 text-dark" th:text="${subject.name}">Featured post</h2><br><br>
<!--                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
                    <a href="#" th:href="@{/subject/{id}(id=${subject.id})}" class=" text-end text-decoration-none text-dark">view</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>




<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.bundle.js" ></script>

<script th:inline="javascript">
// $('#signup-btn').click(function(){
//     window.location.href="/*[[@{/comments}]]*/";
// });
</script>
</body>
</html>